
<div align="center">
  <input [(ngModel)]="searchTerm" placeholder="Search for a card" />
  <button (click)="searchCard()">Search</button>
  </div>
<nav align="center">
  <ul>
    <button><a routerLink="/card/jeweled-lotus">Jeweled Lotus</a></button>
    <button><a routerLink="/card/black-lotus">Black Lotus</a></button>
    <button><a routerLink="/card/mox-opal">Mox Opal</a></button>
    <button><a routerLink="/card/serra-angel">Serra Angel</a></button>
    <button><a routerLink="/card/thallid">Thallid</a></button>
  </ul>
</nav>
<br>

<router-outlet></router-outlet>
